<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile app</title>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="shortcut icon" href="../logo.png" type="image/x-icon">
</head>
<body>
  <div class="container">
    <div class="welcome-prompt">
      <h1>Welcome to Student Data Profile app </h1>
      <p>Add and manage student data with ease!</p>
    </div>
    <a href="/addprofile" class="add-profile-button">Add Profiles</a>
  </div>
</body>
</html>
